#root {
  width: 100%;
  padding: 0rem 2rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.navbar {
  display: flex;
  gap: 10px;
}

.inactive-link {
  color: #333;
  text-decoration: none;
}

.active-link {
  color: #535bf2;
}


/* Styles pour la liste des CVs */
.cv-list {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cv-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cv-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cv-cards-container p {
  font-size: 14px;
  color: #666;
}

.cv-cards-container .cv-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cv-cards-container .cv-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-cards-container .cv-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.cv-cards-container .cv-card p {
  font-size: 14px;
  color: #777;
}

.cv-cards-container .cv-card .cv-experience {
  margin-top: 15px;
}

.cv-cards-container .cv-card .cv-experience h4 {
  font-size: 16px;
  font-weight: bold;
}

.cv-cards-container .cv-card .cv-experience p {
  font-size: 14px;
  color: #555;
}


/* Styles pour chaque carte de CV */
.cv-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.cv-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cv-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.cv-card p {
  font-size: 14px;
  color: #666;
}

.cv-card .cv-experience {
  margin-top: 10px;
}

.cv-card .cv-experience h4 {
  font-size: 15px;
  color: #333;
}

.cv-card .cv-experience p {
  font-size: 14px;
  color: #555;
}


/* Styles pour la page de détail d'un CV */
.cv-detail {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cv-detail h1 {
  font-size: 28px;
  color: #333;
}

.cv-detail p {
  font-size: 16px;
  color: #555;
}

.cv-detail h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.cv-detail ul {
  list-style-type: none;
  padding: 0;
}

.cv-detail ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.cv-detail ul li strong {
  color: #222;
}

.cv-detail .cv-experience ul li {
  margin-bottom: 12px;
}

.cv-detail p strong {
  color: #222;
}

.gap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-bar {
  margin-bottom: 10px;
}

.buttonContainer {
  margin-top: 10px;
  gap: 10px;
}